body {
  margin: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  * {
    box-sizing: border-box;
  }
}

img {
  width: 100%;
  height: auto;
}

.bordered {
  box-shadow: 0px 3px 6px #00000029;
  border-top: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-left: 5px solid #5c068c;
  border-radius: 0px 5px 5px 0px;
}

a {
  color: #5c068c;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 35px;
}

nav {
  padding: 23px 24px;
  a:last-child {
    margin-right: 0px;
  }
}

nav.first {
  background: red;
}

nav.new {
  margin-bottom: 20px;

  background: #5c068c;

  a {
    color: white;
    margin-right: 30px;
  }

  a.active {
    color: #5c068c;
    background: white;
    padding: 8px;
    border-radius: 8px;
    font-weight: 900;
  }
}

.parent {
  background-color: bisque;
  display: flex;
  padding: 16px;
  gap: 20px 0px;
  flex-direction: column;
}

.inner {
  display: flex;
  gap: 0px 20px;
}

.square {
  width: 100%;
  height: 80px;
  background-color: aqua;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    width: 150px;
  }
}

p {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

p.clogo {
  margin-left: 20px;
  font-weight: 700;
}

.picture {
  margin-left: 20px;
  background: hsl(0, 0%, 93%);
  width: 248px;
  height: 134px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textpicture {
  margin: 0;
  color: gray;
  font-weight: 500;
}

label {
  padding-top: 16px;
  text-decoration: underline;
  font-weight: 700;
}

.picture.upload-details {
  justify-content: flex-start;
  align-items: flex-start;
  .trash-icon {
    width: 16px;
    &:hover {
      cursor: pointer;
    }
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    color: black;
    line-height: 14px;
  }
  .update-date {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.5px;
    color: #000000;
  }
  .info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #c2c2ca;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
